<h2>Show Sport complex</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @sport_complex.name %>
  </li>

</ul>

<span><%= link "Edit", to: sport_complex_path(@conn, :edit, @sport_complex) %></span>
<span><%= link "Back", to: sport_complex_path(@conn, :index) %></span>
