<h2>Show Daily schedule</h2>

<ul>

  <li>
    <strong>Schedule day:</strong>
    <%= @daily_schedule.schedule_day %>
  </li>

  <li>
    <strong>Sport arena:</strong>
    <%= @daily_schedule.sport_arena_id %>
  </li>

</ul>

<span><%= link "Edit", to: daily_schedule_path(@conn, :edit, @daily_schedule) %></span>
<span><%= link "Back", to: daily_schedule_path(@conn, :index) %></span>
